.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    min-height: 30vh;
    background-image: linear-gradient(0deg, transparent, black 50%);
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    z-index: 100;

    color: #FFF;
    /* font-family: 'Play', sans-serif; */
    font-size: 36px;
    font-weight: 700;
}


/* =========== Burger Button =================== */
.burger-btn {
    background-color: transparent;
}


.hamburger-slim {
    position: relative;
    z-index: 100;
    height: 30px;
    width: 50px;
}

.hamburger-slim:before,
.hamburger-slim:after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
}

.hamburger-slim:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
}

.hamburger-slim:after {
    position: absolute;
    top: calc(100% - 2px);
}


.hamburger-slim.active:before {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
}

.hamburger-slim.active:after {
    top: 50%;
    transform: rotate(315deg);
}


/* ============= Open Navigation Menu ==================== */
.nav-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: hidden;
    background-color: black;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Slide Text */
.slide-top-text__content,
.slide-bottom-text__content {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.slide-top-text__content {
    top: 0;
    animation: slide-to-left-text 20s linear infinite;
}

.slide-bottom-text__content {
    bottom: 0;
    animation: slide-to-right-text 20s linear infinite;
}

.slide-text__items {
    margin-right: 15px;
}

.slide-text {
    display: flex;
    gap: 15px;
    font-size: 30px;
    font-weight: 400;
    color: #FFF;
}

@keyframes slide-to-left-text {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slide-to-right-text {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

/* Navigation Menu */
.nav-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateX(0);
    transition: opacity 300ms ease-in-out;
}

.nav-menu__item:not(:last-child) {
    margin-bottom: 30px;
}

.nav-menu__link {
    color: #FFF;
    /* font-family: 'Play', sans-serif; */
    font-size: 10vw;
    font-weight: 400;
    height: 10vw;
    letter-spacing: 10px;
    cursor: pointer;

    /* Начальные стили для анимации */
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav-menu__link:hover {
    background-color: #FFF;
    color: black;
}

.nav-menu.is-open .nav-menu__link {
    transition-delay: 0.5s;
    transform: translateY(0);
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .nav-menu__link {
        font-size: 8vw;
    }

    .nav-menu {
        padding-right: 250px;
    }
}