.hero {
    margin: 0;
    overflow: hidden;
}

.space {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    perspective: 1000px;
    /* Создаем перспективу для эффекта движения */
}

.stars {
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    animation: moveStars 5s linear infinite;
}

/* Анимация движения звезд */
@keyframes moveStars {
    from {
        transform: translateZ(-5000px);
    }

    to {
        transform: translateZ(100px);
        /* Двигаем звезды по оси Z к пользователю */
    }
}

/* Gig Animation */
.hero__gifs-container {
    height: 800px;
    perspective: 400px;
}

.crawl {
    position: relative;
    top: 0;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

@keyframes crawl {
    0% {
        top: 150%;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.hero__gifs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.hero__gifs-item {
    padding: 20px;
    border-radius: 30px;
    transition: transform 500ms ease-in-out;
}

.hero__gifs-item:hover,
.hero__gifs-item:focus {
    border: 2px solid #fff;
    transform: scale(1.5);

}

.hero__gifs-img {
    border-radius: 30px;
}