<section class="hero">
  <div class="space">
    <div class="stars"></div>
    <div class="hero__gifs-container">
      <div class="crawl">
        <ul class="hero__gifs-list">
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/1.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/2.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/3.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/4.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/5.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/6.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/7.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/8.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/9.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/10.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/11.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/12.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/13.gif" alt="" />
            </a>
          </li>
          <li class="hero__gifs-item">
            <a class="hero__gifs-item-link" href="#">
              <img src="/img/gifs/14.gif" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
