<section class="hero">
  <div class="space">
    <div class="stars"></div>
  </div>
  <div class="hero__gifs-container">
    <div class="crawl">
      <ul class="hero__gifs-list">
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/1.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/2.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/3.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/4.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/20.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/1.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/2.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
      </ul>

      <ul class="hero__gifs-list">
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/6.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/7.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/8.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/9.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/10.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/6.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/7.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
      </ul>

      <ul class="hero__gifs-list">
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/11.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/12.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/13.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/14.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/15.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
      </ul>

      <ul class="hero__gifs-list">
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/16.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/17.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/18.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/19.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/5.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/16.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/17.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
      </ul>

      <ul class="hero__gifs-list">
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/1.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/2.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/3.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/4.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/20.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/1.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
        <li class="hero__gifs-item">
          <a class="hero__gifs-item-link" href="#">
            <img
              class="hero__gifs-img"
              src="/img/gifs/2.gif"
              alt=""
              width="500"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
